<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Розрахунок Шинопроводів</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Розрахунок Шинопроводів</h1>
        <label>Потужність КЗ, МВ * А:</label>
        <input type="number" id="power" value="200">
        <button onclick="calculate('/api/calc2')">Розрахувати</button>
        <pre id="results"></pre>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
